<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963225433138-1h9n373nohs54nnb5e2f1243dnfm0qv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963225433138-1h9n373nohs54nnb5e2f1243dnfm0qv0</string>
	<key>API_KEY</key>
	<string>AIzaSyBNuggE6tICci_DT5Zq4YzU6a3WHrJDU14</string>
	<key>GCM_SENDER_ID</key>
	<string>963225433138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cipher.TryOnMe-</string>
	<key>PROJECT_ID</key>
	<string>tryonme-a849d</string>
	<key>STORAGE_BUCKET</key>
	<string>tryonme-a849d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963225433138:ios:f0ab45215594f0a5d1f82b</string>
	<key>DATABASE_URL</key>
	<string>https://tryonme-a849d.firebaseio.com</string>
</dict>
</plist>